/student/exercises/mod02_auction/AuctionApp/nbproject/private/
/student/exercises/mod02_auction/AuctionApp/AuctionApp-app-client/nbproject/private/
/student/exercises/mod02_auction/AuctionApp/AuctionApp-ejb/nbproject/private/
/student/exercises/mod02_auction/AuctionApp/AuctionApp-ejb/dist/
/student/exercises/mod02_auction/AuctionApp/AuctionApp-ejb/build/
/student/exercises/mod02_auction/AuctionApp/build/
/student/exercises/mod02_auction/AuctionApp/AuctionApp-app-client/dist/
/student/exercises/mod02_auction/AuctionApp/AuctionApp-app-client/build/
/lab/AuctionApp/nbproject/private/
/lab/AuctionApp/AuctionApp-ejb/nbproject/private/
/lab/AuctionApp-appclient/nbproject/private/
/lab/AuctionApp/AuctionApp-ejb/build/
/lab/AuctionApp/AuctionApp-ejb/dist/
/lab/AuctionApp-appclient/dist/
/lab/AuctionApp-appclient/build/
/lab/AuctionLib/nbproject/private/
/lab/AuctionLib/dist/
/lab/AuctionLib/build/
/lab/AuctionApp/build/
/lab/AuctionApp/dist/